@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Cabin');


body{
    font-family: 'Cabin', sans-serif;
    font-size:1em;
}

h1, h2, h3{
    font-family: 'Slabo 27px', serif;
}

h2{
    font-size:2.4em;
    border:1px dotted salmon;
    margin: .25em 0 0 0;
    letter-spacing: .05em;
}

p{
    border:1px dotted green;
    line-height: 1.5em;
}

/*make images flexible*/
img{
    max-width:100%;
    height:auto;
    align-self:center; /*very interesting...*/
}


header{
    display:flex;
    flex-direction: column;
    border:1px solid rgb(0, 247, 255);
    align-items: center;
}


main{
    display:flex;
    flex-direction: column;
    border:1px solid orangered;
}



article{
    display:flex;
    flex-direction: column;
    border:1px dotted aqua;
    align-items: center;
    padding-bottom: 3em;
}