@import url('https://fonts.googleapis.com/css?family=Cabin|Slabo+27px');


body{
    font-family: 'Cabin', sans-serif;
    font-size:1em;
    padding:.75em;
}

h1, h2, h3{
    font-family: 'Slabo 27px', serif;
}

h1{
    font-size:3.6em;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1em;
}

h2{
    font-size:2.4em;
    margin: .25em 0 0 0;
    letter-spacing: .05em;
}

p{
    line-height: 1.5em;
}


/*make images flexible*/
img{
    max-width:100%;
    height:auto;
    align-self:center; /*very interesting...*/
}




header{
    display:flex;
    flex-direction: column;
    /* border:1px solid rgb(0, 247, 255); */
    align-items: center;
    margin: 0 auto;
}


main{
    max-width:994px;
    margin: 0 auto 3em auto;
}

#articles{
    display:flex;
    flex-direction: column;
}

article{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 3em 0;
}

#hero{
    border-radius:.5em;
    background-image: url("../images/pattern.png");
    width:100%;
    height:24vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

nav ul{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    margin-top:1em !important;
    margin-bottom:2em !important;

    /*override local styles in browser*/
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

}


/*  NAV styles  */

nav li{
    background-color: orange;
    padding:.5em .75em;
    border-radius: .25em;
}

nav li:link, nav li:visited{
     background-color: orange;
     color:black;
    }


nav li:hover, nav li:active{
    background-color: #2db2c4;
}

nav li a:hover, nav li a:active{
    color:white;
}

/*put some margins around the nav items*/
nav li + li{   /*select everything AFTER the first li*/
    margin-left: .5em;
}


nav a{
    text-decoration: none;
    color:black;
}





/* -------------- MEDIA QUERIES ------------- */

@media (min-width: 1024px) { 

    #articles{
        flex-direction: row;
        margin-top:2em;
        
    }

    article{
        padding:0 1.25em;
    }

    header{
        flex-direction: row;
        justify-content: space-between;
        max-width:994px;
        margin: 0 auto;
        margin-bottom:1.76em;
    }

 }